@media(max-width:670px){
    body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: rgb(240, 230, 230);
  }
  input {
    border-radius: 8px;
    border: none;
    padding: 8px 5px;
    outline: none;
  }
  button {
    border-radius: 16px;
    border: none;
    padding: 4px 15px;
  }
  button:hover {
    background-color: rgb(205, 111, 127);
    cursor: pointer;
  }
  li {
    margin-right: 8px;
  }
  .input-area {
    background-color: rgb(207, 148, 158);
    width: 95%;
    height: 30px;
    padding:8px;
    margin:5px auto;
    border-radius: 8px;
    text-align: center;
  }
  #add-text{
		text-align: center;
	}
  .incomplete-area {
    background-color: rgb(209, 148, 158);
    width: 95%;
    min-height: 200px;
    padding: 8px;
    margin:5px auto;
    border-radius: 8px;
  }
  .complete-area {
    background-color: rgb(199, 132, 143);
    width: 95%;
    min-height: 200px;
    padding: 8px;
    margin:5px auto;
    border-radius: 8px;
  }
  .title {
    text-align: center;
    margin-top: 0;
    font-weight: bold;
    color: #666;
  }
  .list-row {
    display: flex;
    align-items:center;
    justify-content: center;
    padding-bottom: 4px;
    text-align: center;
  }
}

